body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6e0ed;
}

nav {
  background-color: #695aa6;
  color: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff!important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
}

.aws-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the left side of the screen */
  margin-bottom: 20px;
}

.aws-icon img {
  width: 200px; /* Set the width and height to create a circular image */
  height: 200px;
  border-radius: 100%; /* Create a circular shape */
  object-fit: cover; /* Maintain aspect ratio */
  margin-right: 20px; /* Add some spacing between the logo and content */
}

.content {
  text-align: center;
}

.frames-container {
  padding: 100px;
  min-height: 70vh;
}

.frame {
  display: none;
  padding: 80px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

}

h1 {
  color: #695aa6;
  font-size: 36px;
}

h2 {
  font-size: 24px;
  color: #695aa6;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

a {
  color: #695aa6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button {
  padding: 12px 24px;
  background-color: #1ec756;
  color: #110f0f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2c9e28;
}


/* Add a nice gradient background to the header section */
nav {
  background: linear-gradient(45deg, #695aa6, #695aa6);
}

/* Add a subtle shadow to the main content section */
.frames-container {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* Improve readability of project links */
ul li a {
  font-weight: bold;
}

/* Add a border and padding to the profile image */
aside img {
  border-radius: 50%;
  border: 5px solid #fff;
  padding: 5px;
}
